html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.hero-container {
    background-image: url("sampleHeroImg.jpg");
    height: 450px;
    background-color: gray;
}

.hero-header-spot {
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo-container,
.options-container {
    padding: 7px;
    font-size: 25px;
}

.logo-container {
    margin: 25px 0 0 25px;
}

.options-container {
    margin: 25px 25px 0 0;
}

.about,
.login {
    margin: 0 10px 0 0;
}

.available-tickets,
.about,
.login {
    background-color: tomato;
    border-radius: 5px;
    padding: 5px 12px;
    cursor: pointer;
}

.hero-header-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan-heading {
    color: white;
    font-size: 50px;
}

.search-bar {
    width: 600px;
    padding: 12px 25px;
    border-radius: 15px;
    outline: 0;
    border: 0;
    font-size: 20px;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    margin: 34px auto;
    padding: 0 0 45px 0;
}

.card-1,
.card-2,
.card-3 {
    height: 300px;
    width: 250px;
    border: 1px solid lightgray;
    box-shadow: 0 5px 34px -24px #454545;
    border-radius: 7px;
}

.service-sub-heading {
    text-align: center;
    color: gray;
}

.service-description {
    text-align: justify;
    font-size: 20px;
    margin: 7px 12px;
    font-weight: 400;
    color: gray;
}

.read-more-btn {
    text-align: center;
    padding: 7px 12px;
    background-color: whitesmoke;
    color: #323232;
    width: max-content;
    margin: 12px 0 0 12px;
    border-radius: 50px;
    outline: 0;
    border: 0;
    font-weight: 500;
    border: 2px solid gray;
    margin-top: 60px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid lightgray;
}

.footer>div {
    padding: 7px 12px
}

.follow-sub-heading,
.menu-sub-heading,
.download-option-sub-heading {
    font-weight: 500;
    font-size: 20px;
}

.section-3>p {
    font-size: 20px;
}

.section-3>select {
    padding: 7px 12px 7px 0;
    border-radius: 5px;
    border: 2px solid gray;
    outline: 0;
    font-size: 15px;
}

*/ body {
    font-family: sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
    cursor: default;
}

input {
    cursor: auto;
}


/* div {
	border: 2px solid black;
}*/

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.module1-container {
    font-size: 20px;
    padding-top: 25px;
}

.icon-container {
    margin-left: 34px;
    height: 80%;
    margin-top: 12px;
}

.movie-text {
    margin-left: 30px;
}

.module2-container {
    margin-right: 34px;
    padding-top: 15px;
}

.module2-container>* {
    font-size: 20px;
}

.location,
.login {
    border: 0;
}

.login,
.user {
    margin-left: 12px;
}

.user {
    vertical-align: middle;
}

.login {
    background-color: orange;
    color: white;
    outline: 0;
    border-radius: 15px;
    padding: 5px 24px;
}

.location {
    padding: 3px 12px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    transition: 300ms ease;
}

.location:hover {
    background-color: navy;
    color: whitesmoke;
    box-shadow: 2px 5px 12px -7px gray, -2px -5px 12px -7px lightgray;
}

.icon,
.movie-text,
.booking-text,
.login,
.location,
.user {
    cursor: pointer;
}

.login {
    transition: 300ms ease;
}

.icon {
    padding: 2px 12px 4px;
    border-radius: 50px;
    height: inherit;
    transition: 300ms ease;
}

.login:hover {
    background-color: navy;
    box-shadow: 2px 5px 12px -7px gray, -2px -5px 12px -7px lightgray;
}

.icon:hover {
    box-shadow: 2px 5px 12px -7px gray, -2px -5px 12px -7px lightgray;
}

.movie-text,
.booking-text {
    padding: 7px 15px;
    border-radius: 50px;
    transition: 300ms ease;
}

.movie-text:hover,
.booking-text:hover {
    background-color: navy;
    color: whitesmoke;
    box-shadow: 2px 5px 12px -7px gray, -2px -5px 12px -7px lightgray;
}

.user {
    display: inline-block;
    border: 1px solid #545454;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    transition: 300ms ease;
}

.user:hover {
    background-color: navy;
    color: whitesmoke;
    box-shadow: 2px 5px 12px -7px gray, -2px -5px 12px -7px lightgray;
}

.fas.fa-user-alt {
    font-size: 20px;
    vertical-align: middle;
    margin-top: 2.5px;
}

.header-desc-container {
    background-color: purple;
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.tools-container {
    border: 1px solid lightgray;
    padding: 24px 24px 36px;
    border-radius: 50px;
}

.tools-container>div {
    border: 1px solid lightgray;
    padding: 7px 24px;
    margin-top: 12px;
    border-radius: 40px;
    background-color: whitesmoke;
}

.tools-container>div>* {
    margin: 0;
    padding: 3px 12px;
}

.sub-para {
    margin-top: -15px;
}

.sub-heading {
    color: white;
}

.sub-paragraph {
    color: lightgray;
    margin-bottom: 36px;
}

.search-bar-container {
    display: flex;
}

.search {
    width: 100%;
    border-radius: 50px 0 0 50px;
    padding: 12px 25px;
    border: 0;
    outline: 0;
    font-size: 18px;
}

::placeholder {
    padding-left: 7px;
}

.search-icon {
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: white;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 0 50px 50px 0;
    transition: 100ms ease-out;
    transform-origin: center;
}

.search-icon:active {
    transform: scale(1.05);
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.options {
    color: white;
    margin-top: 20px;
}

.options>span {
    margin-left: 12px;
    transition: 400ms ease;
    padding: 7px 12px;
    border-radius: 30px;
}

.options>span:hover {
    background-color: rgba(0, 0, 0, .4);
}

.cards-container {
    padding: 12px;
}


/*cards-container > * {
	border: 2px solid black;
}*/

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container>div {
    width: 25%;
    height: 75%;
    margin-top: 12px;
}

.movies-heading {
    margin-left: 15px;
}

.ua,
.card-container>div>h4 {
    margin-left: 12px;
    color: #444;
    text-transform: uppercase;
}

.ua {
    color: gray;
}

.card-container>div>img {
    width: 90%;
}

.partners-container {
    margin: 75px 0;
}

.partner-sub-heading {
    text-align: center;
}

.partners-img-container {
    display: flex;
    justify-content: space-around;
    margin: 0 0 24px;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: purple;
    margin: 24px 0 45px 0;
    padding: 50px 0;
}

.footer>div {
    color: white;
}

.footer>div>p {
    transition: 400ms ease;
}

.footer>div>p:hover {
    text-decoration: underline;
}

.menu-container>p:first-child,
.menu2-container>p:first-child,
.menu3-container>p:first-child {
    color: orange;
}

.menu-container>p:hover:first-child,
.menu2-container>p:hover:first-child,
.menu3-container>p:hover:first-child {
    text-decoration: none;
}

.fab {
    margin-right: 12px;
    cursor: pointer;
}